body {
    background-color: aqua;
    }
#title {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 50px;
     padding-left: 600px;
    }

#boton_p2{
    display: grid;
}

   