body {
	background-color: aqua;
	
}
#title{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 50px;
	line-height: 75px;
	text-align: center;
}

.menu-object{

	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
}
#boton{
	display: grid;

}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}

.cards {
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	height: 100px;

}
/* 
JUNTAR CARTAS:
#image{
	display:block;
	margin-left: 50 px;
	margin-right: 50 px;
}
*/